<div class="coin">
    <div class="coin-img">
        <img src="/images/ethereum.png">
    </div>
    <div class="coin-info">
        <h1>{{crypto.name}}</h1>
        <p><span>Price: </span>${{crypto.price}}</p>
        <p><span>Payment: </span>crypto.paymentMethod</p>
    </div>

    <a href="/cyrpto/{{_id}}/details" class="btn-details">Details</a>
</div>